
.App{
  text-align: center;
  height: 80vh;
  
  font-family: 'Share Tech', sans-serif;
    
  /* background: rgb(137,205,101);
  background: linear-gradient(180deg, rgba(137,205,101,0.9585084033613446) 0%, rgba(162,246,179,1) 28%); */
}
